---
import BaseLayout from '../../layouts/base.astro';

let projects = Astro.fetchContent("./**/*.md");

let content = {
  title: 'Projects',
  description: 'Page about projects',
  schema: 'article'
};

export interface Props {
  content: {
    title: string,
    description: string
  },
  projects
}
---

<!DOCTYPE html>
<BaseLayout {content}>
  <article id="content">
    <ul>
      {projects.slice(0, 3).map((project) => (
        <li>
          <h1>{project.title}</h1>
          <a href={project.url}>Read more</a>
        </li>
      ))}
    </ul>
  </article>
</BaseLayout>


<style lang="scss">
#content {
  height: 90vh;
  padding-top: var(--headerH);
}
</style>
