---
import BaseLayout from '~/layouts/base.astro';
import Masthead from '~/components/Masthead';

const content = Astro.props.content || {};
---

<BaseLayout {content}>
  <article id="content">
    <link rel="stylesheet" href="/styles/prism/solarizedLight.css" />
    <Masthead className="surface4"
      title={content.title}
    />
    <div class="post">
      <slot />
    </div>
  </article>
</BaseLayout>

<style lang="scss" global>
@use "public/styles/grids" as grids;
@use "public/styles/helpers" as h;
@use "public/styles/typo" as typo;

.post  {
  max-width: 1440px;
  position: relative;
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  position: relative;
  margin: 3em auto;

  a:not(.footnote-ref,.footnote-backref) {
    @include typo.link-text;
  }
  a.footnote-backref {
    padding: 0 var(--gap);
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  figcaption {
    text-align: center;
    color: var(--text2);
    font-style: italic;
  }


  /** Limit line-lengths */
  p,
  li {
    max-width: 90ch;
  }

  h1 {
    max-width: 15ch;
  }

  h2,
  h3 {
    max-width: 25ch;
  }

  /**
    * Adjacent spacement fixes
    */
  p > code,
  li > code {
    font-size: 100%;
    padding: var(--gap) calc(var(--gap) * 1.5 );
    background-color: var(--surface3);
    border-radius: var(--gap);
  }

  /* Adjacent list elements */
   ul + p ,
   ol + p {
    margin-top: 1.5rem;
  }


  /** lists */
  ol, ul {
    margin-block-start: 0;
    padding-inline-start: 1em;
  }

  ol li::marker {
    font-size: 1.2rem;
  }

  ul li::marker {
    color: var(--text2);
    font-size: 1rem;
  }

  /** Codes & Blockquotes */
  pre {
    padding: calc(4 * var(--gap));
    border-radius: var(--gap);
    margin: 0 0 1rem 0;
    background-color: var(--surface3);
    overflow: auto;
  }

  pre,
  code,
  pre code {
    text-shadow: none;
    font-family: var(--code-family);
    overflow: hidden;
  }

  blockquote {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding-left: calc(2 * var(--gap));
    font-size: 1rem;
    border-left: 4px solid var(--brand);
  }

  /**
   * Tables
   */
  table {
    margin-bottom: 1.5rem;
    border-spacing: 0px;
    border-top: 0px;
    overflow: hidden;

    thead {
      background-color: var(--brand);
      color: var(--text1-invert);

      & th {
        font-size: 1.2rem;
        font-weight: var(--title-weight);
        font-size: 1.2rem;
        text-align: center;
      }
    }
    tr:not(:last-child) {
      & td {
        border-bottom: 1px solid var(--surface2);
      }
    }
    & tr:last-child {
      & td {
        border-bottom: 1px solid var(--surface2);
      }
    }

    & th,
    & td {
      font-family: var(--code-family);
      padding: calc(2 * var(--gap));
      border-right: 1px solid var(--surface2);

      &:first-of-type {
        border-left: 1px solid var(--surface2);
      }
    }
  }

    hr {
      margin: 1em 0em;
      border-top: 0;
      border-style: solid;
      border-color:  hsl(var(--brand-hue) 0% 90%)
    }


  /**
   *
   */
  .footnotes {
    hr {
      margin: 1em 0em;
      border-top: 0;
      border-style: solid;
      border-color:  hsl(var(--brand-hue) 0% 90%)
    }
    ol {
      margin-left: 1em;
    }
  }

  /**
   * Images float
   */
  .right-25 {
    float: right;
    width: 25%;
    padding: 1em;
  }

  .centered {
    display: flex;
    flex-direction: column;

    > img {
      margin: 0 auto;
    }
  }
}

.surface {
  min-height: 120px;
  width: 80%;
  border-radius: calc( var(--gap) * 4 );
  display: flex;
  align-items: center;
  justify-content: center;

  @include h.shadow();
}

</style>
