.workGrid {
  @media (--media-max-small) {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  @media (--media-min-small) {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    @nest & .item:nth-child(1n) {
      grid-column: span 1;
    }
    @nest & .item:nth-child(2n) {
      grid-column: span 2;
    }
    @nest & .item:nth-child(3n) {
      grid-column: span 3;
    }
  }
}
