html {
  /* -------------------------------------------------------------------------- */
  /* --------------------------------- Light --------------------------------- */
  /* -------------------------------------------------------------------------- */
  --brand-light: var(--orange-6);
  --brand-emphasis-light: var(--green-6);

  /* Foreground elements are text and icons */
  --fg-light: var(--gray-8);
  --fg-muted-light: var(--gray-6);
  --fg-emphasis-light: var(--gray-1);

  /** Background colors apply to surfaces of components or UI elements, such as pages, boxes, and overlays. */
  --bg-light: var(--gray-0);
  --bg-subtle-light: var(--gray-2);
  --bg-inset-light: var(--gray-4);
  --bg-emphasis-light: var(--gray-9);

  /** create bounds around content, like cards */
  --border-light: var(--gray-6);
  /** Dividers to emphasize the separation between items, columns */
  --border-muted-light: var(--gray-4);

  /* Legacy */
  --surface-shadow-light: 200 10% 20%;
  --shadow-strength-light: 5%;

  /* -------------------------------------------------------------------------- */
  /* --------------------------------- * Dark --------------------------------- */
  /* -------------------------------------------------------------------------- 
  --brand-dark: var(--orange-3);

  --text1-dark: var(--gray-1);
  --text2-dark: var(--gray-3);
   --textinvert-dark: var(--gray-9);

  --link-dark: var(--indigo-3);
  --link-visited-dark: var(--grape-3);

  --surface1-dark: var(--gray-9);
  --surface2-dark: var(--gray-8);
  --surface3-dark: var(--gray-7);
  --surface4-dark: var(--gray-6);
  --surfaceInvert-dark: var(--gray-1);

  --surface-shadow-dark: 200 50% 3%;
  --shadow-strength-dark: 8%;
  */
}

:root {
  --brand: var(--brand-light);
  --brand-emphasis: var(----brand-emphasis-light);

  --fg: var(--fg-light);
  --fg-muted: var(--fg-muted-light);
  --fg-emphasis: var(--fg-emphasis-light);

  --link: var(--link-light);
  --link-visited: var(--link-visited-light);

  --bg: var(--bg-light);
  --bg-subtle: var(--bg-subtle-light);
  --bg-inset: var(--bg-inset-light);
  --bg-emphasis: var(--bg-emphasis-light);

  /* --surfaceInvert: var(--surfaceInvert-light); */

  /* --surface-shadow: var(--surface-shadow-light); */
  /* --shadow-strength: var(--shadow-strength-light); */
}

/**
@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);

    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --textInvert: var(--textInvert-dark);

    --link: var(--link-dark);
    --link-visited: var(--link-visited-dark);

    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surfaceInvert: var(--surfaceInvert-dark);

    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}
*/

/** Colorscheme */
.bg {
  background-color: var(--bg);
}
.bg.subtle {
  background-color: var(--bg-subtle);
}
.bg.inset {
  background-color: var(--bg-inset);
}
.bg.emphasis {
  background-color: var(--bg-emphasis);
  color: var(--fg-emphasis);
}
