@import "./manropeLoader.css";

:root {
  --font-sans: manrope vf, Manrope, system-ui, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body,
html,
input {
  font-family: var(--font-sans);
  font-size: var(--font-size-1); /** Default is 1em = 16px */
  line-height: 1.5em;

  color: var(--fg);
}

.text {
  color: var(--fg);
}
.text.muted {
  color: var(--fg-muted);
}
.text.emphasis {
  color: var(--fg-emphasis);
}

/** Disable the default margin of headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;

  outline-offset: 4px;
}

a[href] {
  color: var(--link);
  &:visited {
    color: var(--link-visited);
  }
}

a.no-link {
  color: initial;
  &:visited {
    color: initial;
  }
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-size: var(--font-size-1);
}

.headline {
  font-size: var(--font-size-fluid-3);
  line-height: 2em;
}

/** h2 and beyound */
.subheadline {
  font-size: var(--font-size-fluid-1);
  line-height: 2em;
}

.caption {
  color: var(----fg-muted);
  font-size: var(--font-size-fluid-0);
  font-weight: normal;
}
