@use "variables" as *;

/**
  Usage:

  @include breakpoint(small, max) => @media (max-width: $small)
  @include breakpoint(small, min) => @media (min-width: $small)
  @include breakpoint(small, min) {
   @include breakpoint(medium, max) { ... }
    => @media (min-width: $small) and (max-width: $medium) { ... }
  }
**/
@mixin breakpoint($breakpoint, $direction) {
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @if $direction == max {
      @media (max-width: ($breakpoint-value)) {
        @content;
      }
    } @else if $direction == min {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint-value) {
        @content;
      }
    }
  } @else {
    // If the breakpoint doesn't exist in the map
    @if $direction == max {
      @media (max-width: $breakpoint) {
        @content;
      }
    } @else if $direction == min {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint) {
        @content;
      }
    }
  }
}
