:root {
  --brand-hue: 15;
  --brand-saturation: 96%;
  --brand-lightness: 63%;

  --nice-hue: 21;
  --nice-saturation: 96%;
  --nice-lightness: 90%;
  --nice: hsl(var(--nice-hue) var(--nice-saturation) var(--nice-lightness));
}

@media (prefers-color-scheme: light) {
  body {
    --brand: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    --brand2: hsl(153 33% 32%);
    --nice: hsl(var(--nice-hue) var(--nice-saturation) var(--nice-lightness));

    --text1: hsl(var(--brand-hue) var(--brand-saturation) 10%);
    --text2: hsl(var(--brand-hue) 30% 30%);

    --surface1: hsl(var(--brand-hue) 20% 98%);
    --surface1-translucent: hsla(var(--brand-hue), 20%, 99%, 0.7);
    --surface2: hsl(var(--brand-hue) 30% 85%);
    --surface2-translucent: hsla(var(--brand-hue), 30%, 85%, 0.7);
    --surface3: hsl(var(--brand-hue) 50% 92%);
    --surface2-translucent: hsla(var(--brand-hue), 50%, 92%, 0.7);
    --surface4: hsl(var(--brand-hue) 96% 90%);
    --surface4-translucent: hsla(var(--brand-hue), 96%, 90%, 0.7);

    --surface-shadow: var(--brand-hue) 10% 20%;
    --shadow-strength: 0.08;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    /* dark hsl(15 43% 42%) */
    --brand: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
    --brand2: hsl(153 33% 32%);
    --nice: hsl(var(--nice-hue) var(--nice-saturation) var(--nice-lightness));

    --text1: hsl(var(--brand-hue) 15% 98%);
    --text2: hsl(var(--brand-hue) 5% 65%);
    --surface1: hsl(var(--brand-hue) 10% 10%); /** hsl(15 10% 25%) */
    --surface1-translucent: hsla(var(--brand-hue), 10%, 10%, 0.7);
    --surface2: hsl(var(--brand-hue) 10% 15%);
    --surface3: hsl(var(--brand-hue) 5% 20%);
    --surface4: hsl(var(--brand-hue) 5% 25%);

    --surface-shadow: var(--brand-hue) 50% 3%;
    --shadow-strength: 0.8;
  }
}

body[color-scheme='dark'] {
  color-scheme: dark;
}

// [color-scheme='dim'] {
//   color-scheme: dark;
/* dim hsl(15 76% 50%) */
// --brand-dim: hsl(var(--brand-hue) calc(var(--brand-saturation) / 1.25) calc(var(--brand-lightness) / 1.25));
// --text1-dim: hsl(var(--brand-hue) 15% 75%);
// --text2-dim: hsl(var(--brand-hue) 10% 61%);
// --surface1-dim: hsl(var(--brand-hue) 10% 20%);
// --surface1-dim-translucent: hsla(var(--brand-hue), 10%, 20%, 0.7);
// --surface2-dim: hsl(var(--brand-hue) 10% 25%);
// --surface3-dim: hsl(var(--brand-hue) 5% 30%);
// --surface4-dim: hsl(var(--brand-hue) 5% 35%);
// --surface-shadow-dim: var(--brand-hue) 30% 13%;
// --shadow-strength-dim: 0.2;

//   --brand: var(--brand-dim);
//   --text1: var(--text1-dim);
//   --text2: var(--text2-dim);
//   --surface1: var(--surface1-dim);
//   --surface2: var(--surface2-dim);
//   --surface3: var(--surface3-dim);
//   --surface4: var(--surface4-dim);
//   --surface-shadow: var(--surface-shadow-dim);
//   --shadow-strength: var(--shadow-strength-dim);
// }
