@use 'variables' as *;

@mixin text-truncate($lines, $widows) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  widows: $widows;
}

@mixin shadow() {
  box-shadow: 0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    /** */ 0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

@mixin weight($weight) {
  font-variation-settings: 'wght' $weight;
}

@mixin glass($weight) {
  backdrop-filter: blur($weight);
}

@mixin straightSquiggle() {
  background-image: url('/images/straight-squiggle2.svg');
  background-repeat: repeat-x;
  background-size: contain;
}

/** 
 * Style with a squiggle underline (links)
 */
@mixin link-text {
  position: relative;
  padding: 0 var(--gap) 0 var(--gap);
  margin-bottom: 0.3em;

  color: var(--text2);
  text-decoration: none;

  transition: color 0.178s ease-in-out;
  box-decoration-break: clone;

  &::after {
    position: absolute;
    box-decoration-break: clone;
    content: ' ';
    bottom: -2px;
    left: 0;
    width: 100%;
    // height: -webkit-fill-available;
    height: 4px;
    @include straightSquiggle();
  }

  &:hover {
    color: var(--brand);
  }
}

/**
  * Style to simulate a marker pen and text with background color of --brand
  */
@mixin link-mark {
  position: relative;
  padding: 0 var(--gap) 0 var(--gap);
  margin-bottom: 0.3em;
  z-index: 1;

  color: var(--text2);
  text-decoration: none;
  font-weight: bold;

  transition: color 0.178s ease-in-out;
  background: transparent;

  &::after {
    position: absolute;
    content: ' ';
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to left,
      hsla(var(--brand-hue), var(--brand-saturation), var(--brand-lightness), 0.1),
      hsla(var(--brand-hue), var(--brand-saturation), var(--brand-lightness), 0.7) 10%,
      hsla(var(--brand-hue), var(--brand-saturation), var(--brand-lightness), 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    transition: clip-path 0.173s ease-out;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    z-index: -1;
  }

  &:hover {
    color: black;
    &::after {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}

@mixin cast-shadow() {
  box-shadow: 0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 0px 5px 5px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

/**
 * Reset default link style to blank, without any underline.
 * Color is inherited;
 */
@mixin reset-link {
  &:after {
    display: none;
  }
  &:before {
    display: none;
  }
  text-decoration: none;
  color: inherit;
}
