@use 'src/styles/helpers' as h;
@use 'src/styles/breakpoints' as bp;

/** Typography 
 */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root {
  --unit: 18px;
  --scale: 1.25 /** minor third */;

  --text-lineheight: 1.5;
  --text-weight: 300;
  --text-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu,
    sans-serif;

  --title-family: 'Inter', sans-serif;
  @supports (font-variation-settings: normal) {
    --title-family: 'Inter var', sans-serif;
  }
  --title-lineheight: 1.3;
  --title-weight: 900;

  --subtitle-family: var(--title-family);
  --subtitle-lineheight: 1.3;
  --subtitle-weight: 200;

  --code-family: Menlo, Monaco, Consolas, monospace;
  --code-weight: 300;

  --s-2: calc(1rem / var(--scale) / var(--scale) / var(--scale));
  --s-1: calc(1rem / var(--scale) / var(--scale));
  --s0: calc(1rem / var(--scale));
  --p0: 1rem;
  --h5: calc(1rem * var(--scale));
  --h4: calc(1rem * var(--scale) * var(--scale));
  --h3: calc(1rem * var(--scale) * var(--scale) * var(--scale));
  --h2: calc(1rem * var(--scale) * var(--scale) * var(--scale) * var(--scale));
  --h1: calc(1rem * var(--scale) * var(--scale) * var(--scale) * var(--scale) * var(--scale));
}

html {
  font-family: var(--text-family);
  font-size: var(--unit);
  font-style: normal;
  font-weight: var(--text-weight);
  line-height: var(--text-lineheight);
}

p {
  margin-bottom: 1.5rem;
  font-size: var(--p0);
  orphans: 2;
  widows: 2;
}
/** small */
.small {
  font-size: var(--s0);
}
.small-1 {
  font-size: var(--s-1);
}
.small-2 {
  font-size: var(--s-2);
}

/** headings */
h1,
h2,
h3,
h4,
h5,
.title {
  font-family: var(--title-family);
  font-weight: var(--title-weight);
  font-variation-settings: 'wght' var(--title-weight);
  margin: 2.5rem 0 1.5rem;
  line-height: var(--title-lineheight);

  @include bp.breakpoint(small, max) {
    margin: 1.38rem 0 1.38rem;
  }
}

/** Variants size */
h1,
.title1 {
  font-size: var(--h1);
}
h2,
.title2 {
  font-size: var(--h2);
}
h3,
.title3 {
  font-size: var(--h3);
}
h4,
.title4 {
  font-size: var(--h4);
}
h5,
.title5 {
  font-size: var(--h5);
}

/** Subtitle */
.subtitle {
  font-family: var(--subtitle-family);
  font-weight: var(--subtitle-weight);
  margin: 3rem 0 1.38rem;
  line-height: var(--subtitle-lineheight);
  font-variation-settings: 'wght' var(--subtitle-weight);
}

/**
 * Links
 */
a {
  color: var(--color-primary);
  transition: color 0.2s ease;

  // @include h.link-mark();
}
