$breakpoints: (
  small: 450px,
  medium: 768px,
  large: 1280px,
  llarge: 1440px
);

/** Minimum gap between elements */
$gap: 4px;

/** Maximum size of responsive design (above, it became centered) */
$maxWidth: map-get($breakpoints, 'large');
