@use 'src/styles/helpers' as helpers;

:root {
  --mousex: calc(50vw + 1px);
  --mousey: calc(50vh + 1px);
}

.flashlight-pointer {
  position: fixed;
  top: -8px;
  left: -8px;

  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--brand);

  pointer-events: none;

  transform-origin: center center;
  transform: translate3d(calc(var(--mouseX) * 100vw), calc(var(--mouseY) * 100vh), 0);
}

:global(.cast-shadow) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;

  box-shadow: 0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 0px 5px 5px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}
