.masthead {
  height: 400px;
  max-height: 600px;
  width: 100%;
  display: flex;
  background-color: var(--surface4);

  /** Give more space to children */
  &.hasChildrenVariant {
    .contentContainer {
      padding-bottom: calc(var(--headerH) / 2);
    }
  }
}

.contentContainer {
  width: 100%;
  margin: 0 auto;
  padding: var(--headerH) calc(var(--gap) * 8);

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.content {
  width: 100%;
}

.title,
.subtitle {
  margin: 0;
  text-transform: capitalize;
}
.subtitle {
  color: var(--text2);
  font-variation-settings: "wght" var(--text-weight);
}

.logo {
  width: clamp(48px, 96px, 128px);
  padding-inline-end: 1rem;
  transition: transform 0.13s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}
