---
import Layout from '../components/Layout/Layout.astro';
import SEO from '../components/seo';

import Header from '../components/Header/Header.tsx';
import Footer from '../components/Footer/Footer.jsx';

import GlobalSettings from '../components/Settings/Settings.tsx';
import {toPage} from '../lib/page/Page';

const page:Page = Astro.props.page;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{page.title}</title>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
    <meta name="description" content="{page.description}" />
    <meta name="schema" content="{page.schema}" />
    <SEO module="og" ...page />
    <SEO module="twitter" ...page />
    <SEO module="ld" ...page />

  </head>
  <body data-layout="base">

    <div class="root">
      <div class="container">
        <Layout>

          <Header slot="header" client:idle />
          <div class="container-wrapper">
            <slot />
            <GlobalSettings client:idle />
          </div>

          <Footer slot="footer" />
        </Layout >
      </div>
    </div>

  </body>
</html>
