<!-- Portinari gallery -->
<div class="gallery">
  <video
      width="733"
      height="414"
      preload="none" controls
      poster='/images/portinari/tree_poster.jpg'>
      <source src='/images/portinari/tree.mp4' type="video/mp4" />
  </video>

  <img src="/images/portinari/thumb.jpg" alt="Showcase" />

  <video
    height="800px"
    preload="none" controls
    poster='/images/portinari/user_poster.jpg'>
    <source src='/images/portinari/user.mp4' type='video/mp4' />
  </video>

  <div class="page h50">
    <div class="mockup">
      <div class="marvel-device ipad silver landscape">
          <div class="camera"></div>
          <div class="screen">
            <img src="/images/portinari/screen.png" alt="Vector drawing app" />
          </div>
          <div class="home"></div>
      </div>
    </div>
  </div>
  <div class="page h70">
    <figure class="mockup">
      <div class="browser-mockup with-url">
        <img src="/images/portinari/admin.png" alt="Administrator screen" />
      </div>
        <figcaption class="text2">Administration Screen</figcaption>
    </figure>
  </div>
</div>
