<!-- Portinari gallery -->
<div class="gallery">
  <video
      width="733"
      height="414"
      preload="none"
      controls
      poster='/images/portinari/tree_poster.jpg'>
      <source src='/images/portinari/tree.mp4' type="video/mp4" />
  </video>

  <img src="/images/portinari/thumb.jpg" alt="Showcase" />

  <video
    height="800"
    preload="none"
    poster='/images/portinari/user_poster.jpg'>
    <source src='/images/portinari/user.mp4' type='video/mp4' />
  </video>

  <div class="page h50">
    <div class="mockup">
      <div is="ipadMockup">
        <img src="/images/portinari/screen.png" alt="Vector drawing app running on IPad" />
      </div>
    </div>
  </div>
  <div class="page h50">
    <figure class="mockup">
      <div class="browser-mockup with-url">
        <img src="/images/portinari/admin.png" alt="Administration screen" />
      </div>
    </figure>
  </div>
</div>
