@use 'sass:math';
@use 'src/styles/helpers' as h;
@use 'src/styles/breakpoints' as bp;

.garden-list {
  list-style: none;
  // padding-inline-end: calc(8 * var(--gap));
  // padding-inline-start: calc(8 * var(--gap));
  padding-inline-end: 0;
  padding-inline-start: 0;

  li {
    margin-block-end: 1.5em;
    margin-block-start: 1.5em;
    color: var(--text2);

    &::marker {
      font-size: var(--h4);
    }

    &:hover,
    &:focus-within {
      color: var(--brand);
      text-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    }
  }
}

.garden-item {
  text-decoration: none;

  padding: 0;
  color: inherit;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  :global(.tag) {
    font-style: normal;
    padding: calc(2 * var(--gap));
  }

  :global(.status) {
    font-size: 1.25em;
  }

  /** Adjacent tags */
  :global(.tag + .tag) {
    margin-inline-start: calc(4 * var(--gap));
  }
}

.item-title {
  @include h.weight(var(--text-weight));
  @include h.link-text();

  margin-block-start: 0;
  margin-block-end: 0;
  margin-right: auto;

  // @include bp.breakpoint(medium, min) {
  //   flex: 1 1 50%;
  // }
  @include bp.breakpoint(medium, max) {
    flex: 1 1 100%;
  }
}

:global(.extra-container) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;

  @include bp.breakpoint(medium, min) {
    flex: 1 1 30%;
  }
  @include bp.breakpoint(medium, max) {
    flex: 1 1 100%;

    :global(.tags-container) {
      display: none;
    }

    :global(.publishedAt) {
      margin-right: auto;
      /** Since we hide tags-container, we should
          remove the initial owl selector padding applied of this element */
      margin-inline-start: 0;
    }
    :global(.status) {
      margin-left: auto;
    }
  }

  & * + * {
    margin-inline-start: calc(4 * var(--gap));
  }
}

.item-subtitle {
  flex: 1 1 100%;
  margin: 0;

  color: initial;
}

:global(.tags-container) {
  display: inline-flex;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;

  & * + * {
    margin-inline-start: calc(4 * var(--gap));
  }
}
