---
import { toPage } from '../lib/page/Page'

import BaseLayout from '../layouts/base.astro';
// import SvgPlaceholder from '../components/SvgPlaceholder';

const abspath = Astro.request.url.pathname;

/**
toPage({
  name: 'toy-robot',
  abspath: abspath,
  slug: 'toy-robot',
  collection: 'experiments',
  layout: 'minimal.astro',
  status: 'draft',
  url: pagePathToUrl(abspath),
  tags: [],
  schema: 'website',

  published: false,
  publishedAt: null,

  content: {
    title: 'Toy Robot',
    subtitle: 'Toy Robot exercise using generator',
    description: '',
    headers: [],
    content: ''
  },
  robotCommands: `# Go to center
MOVE
MOVE
RIGHT
MOVE
MOVE`,
}, abspath)
 */

let page = toPage({
  name: 'not-found',
  abspath,
  slug: '404',
  collection: [],
  title: 'Page not found',
  description: 'Page not found',
  schema: 'basic',
  url: new URL('https://vical.me/404'),
  tags: [],
  layout: 'minimal.astro',
  status: 'draft',
  
  published: false,
  publishedAt: new Date(),
  content: {
    title: 'Page not found',
    subtitle: 'Failed to find the page',
    description: '',
    headers: [],
    content: '',
  },
}, abspath);

---

<!DOCTYPE html>
<BaseLayout {page}>
  <article id="content">
    <section class="page404">
      <div class="grid2">
        <div class="item headline">
          <h1>NOT FOUND</h1>
        </div>
        <div class="item highlight">
          <img src='/pictures/chichen-itza-1600-cropped.jpg' alt='Ruins of Chichen Itza - Mexico'/>
        </div>
      </div>
    </section>
  </article>
</BaseLayout>

<style lang="scss" scoped>
@use "sass:math";
@use "src/styles/variables" as *;
@use "src/styles/breakpoints" as bp;
@use "src/styles/grids" as grids;

#content {
  position: relative;
}

.page404 {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  min-height: calc(100vh - var(--footerH));
}

.grid2 {
  width: 100%;
  margin: 1em;
  margin-top: var(--headerH);

  display: flex;
  grid-gap: calc(var(--gap) * 4);

  @include bp.breakpoint(small,max) {
    flex-direction: column;
  }

  :global(.headline) {
    writing-mode: vertical-rl;
    > h1 {
      margin-top: 0;
    }

    @include bp.breakpoint(small, max) {
      writing-mode: horizontal-tb;
    }
  }

  :global(.highlight) {
    display: flex;

    > img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    @include bp.breakpoint(small, max) {

      > img {
        min-height: 320px;
        height: 70vh;
      }
    }
  }
}

</style>
