@use 'src/styles/variables' as *;
@use 'src/styles/helpers' as helpers;

$cardHeight: 280px;

.card {
  height: 280px;
  max-height: $cardHeight;

  width: 100%;

  display: flex;
  flex-direction: column;

  border: 0;

  text-decoration: none;
}

.content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;

  &:global(.expanded) {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
  }
}

.content {
  pointer-events: auto;
  position: relative;
  border-radius: calc(var(--gap) * 4);
  background: white;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: $cardHeight;
  transform: translateZ(0);

  :global(img) {
    width: 100%;
    object-fit: cover;
    // height: $cardHeight;
  }
}

.title-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1em;
  overflow: hidden;

  color: white;
}

.content-placeholder {
  margin-top: $cardHeight;
  padding: 1em;

  :global(.paragraph) {
    overflow: auto;
    margin: 0.5em 0 0.5em 0;

    :global(div) {
      border-radius: var(--gap);
      margin: 0.5em 0 0.5em 0;
      width: 70%;
      height: 16px;
      background: rgba(187, 0, 255, 0.16);
    }
    :global(div:nth-of-type(2n)),
    :global(div:nth-of-type(3n)) {
      width: 96%;
    }
    :global(div:first-of-type),
    :global(div:nth-of-type(9n)) {
      width: 40%;
    }
  }
}

.title {
  @include helpers.text-truncate(2, 2);

  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.description {
  @include helpers.text-truncate(2, 2);

  margin: 0;
}
