@use 'src/styles/variables' as *;
@use 'src/styles/helpers' as helpers;

$cardHeight: 280px;

/**
 * Cards have a full width and height auto, fixed at maximum 280px;
 * They are generally links, and they have state (hover, focus)
 */
.card {
  /** Disable default style of <A links> in the grid */
  @include helpers.reset-link();
  @include helpers.shadow();

  width: 100%;
  height: 280px;
  max-height: $cardHeight;

  contain: paint;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border-radius: calc(var(--gap) * 4);
  text-decoration: none;

  transform: scale(1);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /**
   * Hover/focus state
   */
  &:hover,
  &:focus {
    transform: scale(1.05);

    .avatar img {
      // filter: grayscale(0);
      transform: scale(1.025);
    }
    .avatar::after {
      opacity: 1;
    }
  }
}

/**
 * Avatar is the background image.
 * We use absolute for animations and positioning.
 */
.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $cardHeight;
  isolation: isolate;
  z-index: 0;
  backface-visibility: hidden;

  border-radius: inherit;
  overflow: hidden;

  :global(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;

    // filter: grayscale(1);
    transition: filter 200ms ease-out, transform 250ms ease-out;
  }

  /**
   * Overlays are layers applied above bg image.
   */
  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
  }

  /* A gradient overlay from the bottom to the top , black to transparent */
  &::before {
    opacity: 1.25;
    background: linear-gradient(
      to top,
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,
      hsl(0 0% 0% / 0.717) 29.9%,
      hsl(0 0% 0% / 0.683) 34.3%,
      hsl(0 0% 0% / 0.641) 38.7%,
      hsl(0 0% 0% / 0.592) 43.3%,
      hsl(0 0% 0% / 0.534) 48.4%,
      hsl(0 0% 0% / 0.468) 54.1%,
      hsl(0 0% 0% / 0.393) 60.6%,
      hsl(0 0% 0% / 0.31) 68.3%,
      hsl(0 0% 0% / 0.216) 77.3%,
      hsl(0 0% 0% / 0.113) 87.7%,
      hsl(0 0% 0% / 0) 100%
    );
    transition: 300ms opacity ease-out;
  }
  /** A Gradient overlay from the left to the right, with --brand colors */
  &::after {
    background: linear-gradient(
      45deg,
      hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness) / 0.7) 0,
      hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness) / 0) 100%
    );
    transition: 300ms opacity ease-out;
  }
}

.title-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1em;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--surface1);
}

/**
 * Align the title/subtitle from the bottom of the card (upwards)
 */
.title-container[data-variant='label-bottom'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .title {
    @include helpers.text-truncate(2, 2);
    text-transform: capitalize;

    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  .subtitle {
    @include helpers.text-truncate(3, 3);
    margin: 0;
  }
}
