@use "variables" as *;
@use "./custom-properties";
@use "./helpers";

@import url("https://rsms.me/inter/inter.css");
// @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

/** headings */
h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  font-weight: 900;
}

/** lists */
ol li::marker {
  font-size: 1.2rem;
}
ul li {
  &::marker {
    color: var(--color-lightgray);
    font-size: 1.2rem;
  }
}

/* Paragraphs and codes */
p {
  padding: 0;
  margin: 0 0 1.5rem 0;
  line-height: 1.625rem;

  orphans: 2;
  widows: 2;
}

pre {
  padding: calc(4 * var(--gap));
  border-radius: $gap;
  margin: 0 0 1.5rem 0;
  background-color: var(--color-lightblue);
  overflow: auto;
}

code,
pre,
pre code {
  text-shadow: none;
  font-family: var(--font-family-code);
  overflow: hidden;
}

blockquote {
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding-left: calc(2 * var(--gap));
  font-size: 1rem;
  border-left: 4px solid var(--color-lightblue);
}

table {
  margin-bottom: 1.5rem;
  border-spacing: 0px;
  border-top: 0px;
  font-size: var(--font-base-size);
  overflow: hidden;

  & thead {
    background-color: var(--color-fg);
    color: var(--color-bg);
    font-weight: bold;
    font-family: var(--font-family-heading);
    font-size: 1.2rem;
  }
  & tr:not(:last-child) {
    & td {
      border-bottom: 1px solid var(--color-lightgray);
    }
  }
  & tr:last-child {
    & td {
      border-bottom: 1px solid var(--color-lightgray);
    }
  }

  & th,
  & td {
    padding: calc(2 * var(--gap));
    border-right: 1px solid var(--color-lightgray);
    &:first-of-type {
      border-left: 1px solid var(--color-lightgray);
    }
  }
}

/** Reset margins/paddings */
.m0 {
  margin: 0;
}
.mx {
  margin-left: 0;
  margin-right: 0;
}
.my {
  margin-top: 0;
  margin-bottom: 0;
}
.p0 {
  padding: 0;
}
.px {
  padding-left: 0;
  padding-right: 0;
}
.py {
  padding-top: 0;
  padding-bottom: 0;
}

/** Global wrapper */
.container {
  max-width: 1440px;
  width: 100%;
  flex: 1 1 100%;
  padding: $gap * 4 $gap * 4;
}

@import "./anims";
