@use "variables" as *;
@use "./helpers";
@use "colorscheme" as colors;

@import "./typo";
@import "./anims";

/**
 * Custom css properties (available at runtime only)
 */
:root {
  /* Margin/padding units */
  --gap: #{$gap};

  /** Default colorscheme is light */
  color-scheme: light;
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);

  --anim-quick: 0.1s;
  --anim-default: 0.24s;
  --anim-slow: 1.37s;

  --anim-easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;

  background: var(--surface1);
  color: var(--text1);

  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

/** Global wrapper */
.container {
  max-width: 1440px;
  width: 100%;
  flex: 1 1 100%;
  padding: $gap * 4 $gap * 4;
}

/** lists */
ol li::marker {
  font-size: 1rem;
}
ul li {
  &::marker {
    color: var(--text2);
    font-size: 1rem;
  }
}

pre {
  padding: calc(4 * var(--gap));
  border-radius: $gap;
  margin: 0 0 1.5rem 0;
  background-color: var(--surface4);
  overflow: auto;
}

code,
pre,
pre code {
  text-shadow: none;
  font-family: var(--code-family);
  overflow: hidden;
}

blockquote {
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding-left: calc(2 * var(--gap));
  font-size: 1rem;
  border-left: 4px solid var(--brand);
}

table {
  margin-bottom: 1.5rem;
  border-spacing: 0px;
  border-top: 0px;
  overflow: hidden;

  & thead {
    background-color: var(--brand);
    color: var(--text1);
    font-weight: bold;
    font-family: var(--title-family);
    font-size: 1.2rem;
  }
  & tr:not(:last-child) {
    & td {
      border-bottom: 1px solid var(--surface4);
    }
  }
  & tr:last-child {
    & td {
      border-bottom: 1px solid var(--surface4);
    }
  }

  & th,
  & td {
    padding: calc(2 * var(--gap));
    border-right: 1px solid var(--surface4);
    &:first-of-type {
      border-left: 1px solid var(--surface4);
    }
  }
}
