$breakpoints: (
  small: 450px,
  medium: 768px,
  large: 1240px,
);

$colors: (
  "white": #fff,
  "black": #221230,
  "gray": #697a90,
  "lightgray": #e3e8ee,
  "blue": #156dff,
  "lightblue": rgb(140 165 230 / 17%),
  "lightpurple": rgb(210, 210, 249),
);

$gap: 4px;
$maxWidth: 1440px;
