<section class="layout">
  <header class="header">
    <slot name="header" />
  </header>
  <main class="main" id="main" tabIndex={-1}>
    <slot />
  </main>
  <footer class="footer pad4">
    <slot name="footer" />
  </footer>
</section>

<style lang="scss">
.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
}

.header {
  height: var(--headerH);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/** Occupy viewport height */
.main {
  display: block;
  min-height: calc( 100vh - var(--footerH));
}

.footer {
  color: var(--text1-invert);
  background-color: var(--surface2-dark);
  height: var(--footerH);
}
</style>
